<a href="https://colab.research.google.com/github/sarahcodebyte/HeightPrediction/blob/main/HeightPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing dependencies**

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import numpy as np
from sklearn.tree import DecisionTreeRegressor

# **Data preprocessing and analysis**

In [2]:
dataset = pd.read_csv('/content/dataset.csv')

In [3]:
dataset.shape

(10000, 2)

In [4]:
dataset.head()

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [5]:
dataset.isnull()

      Height  Weight
0      False   False
1      False   False
2      False   False
3      False   False
4      False   False
...      ...     ...
9995   False   False
9996   False   False
9997   False   False
9998   False   False
9999   False   False

[10000 rows x 2 columns]

# **Data splitting into features and target**




*   X->Feature(weight)
*   Y->Targer(height)

In [6]:
X = dataset[['Weight']]
Y = dataset[['Height']]

In [7]:
X.head()

       Weight
0  241.893563
1  162.310473
2  212.740856
3  220.042470
4  206.349801

In [8]:
Y.head()

      Height
0  73.847017
1  68.781904
2  74.110105
3  71.730978
4  69.881796

# **Data Splitting into train and test data**

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state =1)

# **Training the model**

In [10]:
model = DecisionTreeRegressor()
model.fit(X_train, Y_train)

DecisionTreeRegressor()

# **Data Visualisation**

# **Prediction system**

In [11]:
X_test_prediction = model.predict(X_test)

from sklearn.metrics import r2_score, mean_squared_error
mse = mean_squared_error(Y_test, X_test_prediction)
rmse = np.sqrt(mse)
print("Root mean square Error: ", rmse)
r2score = r2_score(Y_test, X_test_prediction)
print('R2Score: ', r2score*100)

Root mean square Error:  2.000147936481377
R2Score:  74.73381715884635

In [18]:
weight_input = float(input("Enter weight(in lbs): "))
result = model.predict([[weight_input]])
print(result, 'inches')

Enter weight(in lbs): 116
[63.23806609] inches

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"